---
layout: html.njk
---

<stack-layout space="var(--s3)">
  <header>
    <center-layout intrinsic align="center" space="var(--s0)">
      <img
        src="{{ podcast.image }}"
        width="256"
        height="256"
        class="coverArt"
        alt="{{ title }}"
      />
    </center-layout>
  </header>

  <section class="flow">
    {{ content | safe }}
  </section>

  <nav>
    <h2>Episodes</h2>
    <ul>
      {%- for episode in collections.episodes %}
      <li>
        <a href="{{ episode.url }}">{{ episode.data.title }}</a>
      </li>
      {% endfor %}
    </ul>
  </nav>

  <div>
    <h2>Subscribe!</h2>
    {% include 'subscribe.njk' %}
  </div>
</stack-layout>
