---
layout: html.njk
---

<stack-layout space="var(--s3)">
  <header>
    <center-layout intrinsic align="center" space="var(--s0)">
      <div class="boxCard">
        <img
          src="{{ podcast.image }}"
          width="256"
          height="256"
          class="coverArt"
          alt="{{ title }}"
        />
      </div>
    </center-layout>
  </header>

  <section class="flow">{{ content | safe }}</section>

  <nav>
    <h2>
      <icon-layout>
        <svg>
          <use href="/assets/icons.svg#notes"></use>
        </svg>
        Episodes
      </icon-layout>
    </h2>
    <stack-layout>
      {%- for episode in collections.episodes | episodeSort %}
      <article>
        <a href="{{ episode.url }}">{{ episode.data.title }}</a>
        <p>{{ episode.data.summary }}</p>
      </article>
      {% endfor %}
    </stack-layout>
  </nav>

  {% include 'subscribe.njk' %}
</stack-layout>
