:root {
  --measure: 40em;
}
body {
  font-family: var(--font, 'Inter var', Inter, system-ui);
  min-height: 100vh;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 18px;
  background: #010b36;
  color: white;
}
h1 {
  font-size: 2em;
  font-weight: bold;
}
.flow > * + * {
  margin-block-start: var(--flow, 1em);
}
h3 {
  --flow: 2em;
}
main {
  flex: 1;
}
footer {
  text-align: center;
  font-style: italic;
  opacity: 0.8;
  padding: var(--s3) var(--s1) var(--s1);
  background-image: linear-gradient(0deg, #470b7b, transparent);
}
footer a {
  font-weight: bold;
  color: white;
}
code {
  font-family: 'SF Mono', ui-monospace, monospace;
  padding: 0 0.2em;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f1f1f1;
  display: inline-block;
  word-break: break-all;
}
pre {
  max-width: 100%;
  width: 100%;
  overflow-x: auto;
  font-size: 16px;
}
pre > code {
  min-width: 100%;
}
blockquote {
  border-left: 5px solid #aaa;
  padding: 1em;
  background: #eee;
}
h1 {
  font-size: 2em;
  line-height: 1.2;
}
h2 {
  font-size: 1.5em;
  line-height: 1.2;
}
h3,
h4,
h5,
h6 {
  font-size: 1.2em;
  line-height: 1.2;
}
p,
ul,
pre,
blockquote {
  margin: 0;
}
.subscribeButton {
  background: var(--color, black);
  color: white;
  padding: 0.5em;
  border-radius: 0.5em;
  text-decoration: none;
  font-weight: bold;
  font-style: italic;
}
.subscribeButton svg {
  font-size: 1.5em;
}
.subscribeButton icon-layout {
  align-items: center;
}
dl span {
  display: flex;
  gap: var(--s0);
}

dl {
  display: grid;
  grid-template-columns: min-content 1fr;
  gap: var(--s-4) var(--s-1);
}
dl dt {
  font-weight: bold;
  font-style: italic;
}
dl dd {
  font-family: 'SF Mono', ui-monospace, monospace;
}

.flow h1 + p,
.flow h2 + p,
.flow h3 + p {
  margin-top: 0;
}

.coverArt {
  box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.3);
  border-radius: var(--s-3);
}

.boxCard {
  padding: var(--s1);
  background: white;
  border-radius: var(--s0);
  color: black;
}
.boxCard a:not([class]) {
  color: #8300f7;
}

a {
  color: #ffba53;
  font-weight: bold;
}

figure {
  flex: 1;
}

audio {
  min-width: 100%;
}

nav ul {
  font-size: 1.2em;
  padding-left: 1em;
}

.hero {
  padding-block: var(--s2) var(--s4);
  background-image: linear-gradient(180deg, #6a2ba0, transparent);
}
.hero img {
  box-shadow: 3px 5px 30px rgba(0, 0, 0, 0.7);
  border-radius: var(--s-2);
}
